#displaycard {
    min-height: 80vh;
    /* overflow: hidden; */
}

.withoutbanner {
    padding-top: 150px;
}

.withbanner {
    padding-top: 0;
}


#displaycard ul {
    margin-left: 50px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

#displaycard ul li {
    list-style: none;
    font-size: 22px;
    height: 20vh;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#displaycard ul li h3 {
    text-transform: capitalize;
    opacity: 0.75;
}

.content-cards {
    position: relative;
    display: flex;
    gap: 10px;
    height: 20vh;
    min-width: 100%;
}

.datacard {
    height: 16vh;
    min-width: 18vw;
    width: 18vw;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color-white);
    background-color: linear-gradient(to top, rgba(3, 3, 3, 1), rgba(3, 3, 3, 0.3));
}

.datacard img {
    height: 16vh;
    width: 100%;
    cursor: pointer;
}

.card-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 5%;
    background-color: var(--color-black);
}

.datacard .play-btn {
    border: none;
    background-color: transparent;
    padding: 0;
}

.datacard .play-btn svg {
    color: var(--color-white);
    cursor: pointer;
    height: 50px;
    width: 30px;
}

.datacard:hover {
    z-index: 5;
    min-height: 20vh;
    transform: scale(105%) translateY(-10%);
    overflow: visible;
}


.content-cards .datacard--enter img {
    transform: scale(1.5);
    transition: 0.4s transform;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  .content-cards .datacard--leave img {
    transform: scale(1);
    transition: 0.4s transform;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  .content-cards .datacard--next {
    transform: translateX(50px);
    transition: 0.4s transform ease;
  }
  .content-cards .datacard--next-leave {
    transform: translateX(0);
    transition: 0.4s transform ease;
  }
  .content-cards .datacard--previous {
    transform: translateX(-50px);
    transition: 0.4s transform ease;
  }
  .content-cards .datacard--previous-leave {
    transform: translateX(0);
    transition: 0.3s transform ease;
  }
  .content-cards .datacard:not(:last-child) {
    margin-right: 20px;
  }

.nav-control {
    position: absolute;
    top: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 50px;
    background: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    transition: 0.2s opacity;
    outline: 0;
    z-index: 5;
  }

  .nav-control:hover{
    background: rgba(255, 255, 255, 0.5);
  }

  .content-cards .leftbutton {
    left: -50px;
    opacity: 0;
  }
  .content-cards .rightbutton {
    right: 0;
  }
  .carousel .nav-control--disabled {
    opacity: 0;
  }


@media screen and (max-width:699px) {
    #displaycard ul {
        margin-left: 15px;
        margin-bottom: 5%;
        gap: 5px;
    }

    #displaycard ul li {
        font-size: 12px;
        height: 20vh;
        gap: 5px;
    }

    .content-cards {
        gap: 2px;
        height: 20vh;
    }

    .datacard {
        height: 15vh;
        min-width: 45vw;
    }

    .datacard img {
        height: 15vh;
    }

    .datacard:hover {
        min-height: 16vh;
    }
}


@media screen and (min-width:300px) and (max-width:699px) and (min-height:700px) {

    #displaycard ul li,
    .content-cards {
        height: 17vh;
    }

    .datacard,
    .datacard img {
        height: 13vh;
    }

    @media screen and (min-width:520px) {
        .datacard {
            min-width: 35vw;
        }
    }
}

@media screen and (min-width:700px) and (max-width:1023px) {
    #displaycard ul {
        margin-left: 15px;
        margin-bottom: 5%;
        gap: 5px;
    }

    #displaycard ul li,
    .content-cards {
        font-size: 12px;
        height: 13vh;
        gap: 5px;
    }

    .datacard {
        height: 9vh;
        min-width: 23vw;

    }

    .datacard img {
        height: 9vh;
    }

    .datacard:hover {
        min-height: 12vh;
    }
}