
.overlay {
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 14, 14, 0.7);
    z-index: 1500;
    overflow-y: auto;
}

.modalview {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: var(--selected-black);
    color: var(--color-white);
    z-index: 1501;
    min-width: 40vw;
    min-height: 20vh;
    margin: 5% auto 5% auto;
    border: 1px solid var(--netflix-red);
    text-align: center;
}

.modalview-btn {
    float: right;
    height: 45px;
    width: 45px;
    padding: 0 10px;
    background-color: var(--netflix-red);
    border: none;
    cursor: pointer;
    font-weight: 800;
    z-index: 2;
}

.modalview-btn:hover{
    background-color: var(--color-white);
}

@media screen and (max-width:699px) {
    .modalview {
        min-width: 80vw;
        margin: 50% auto;
    }
    .modalview-btn {
        float: right;
        height: 30px;
        width: 30px;
    }

}



@media screen and (min-width:700px) and (max-width:1023px) {
    .modalview {
        min-width: 80vw;
        margin: 20% auto;
    }
    .modalview-btn {
        float: right;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-width:1024px) and (max-height:800px) {
    .modalview {
        min-width: 60vw;
        margin: 15% auto;
    }
    .modalview-btn {
        float: right;
        height: 40px;
        width: 40px;
    }
}