#navbar{
    position: fixed;
    height: 100px;  
    width: 100%;
    margin: auto 60px;
    display: flex;
    align-items: center;
}
#navbar a{
    text-decoration: none;
    color: var(--color-white);
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

#navbar img{
    height: 35px;
    width: 95px;
    margin-right: 60px;
    cursor: pointer;
}

#navbar ul li{
    list-style: none;
    display: inline;
}

#navbar .menu{
    width: 65%;
}

#navbar ul li a{
    padding: 2%;
}

#navbar ul li a:hover{
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

#navbar label{
    height: 50px;
    min-width: 50px;
}

.searchbox{
    position: relative;
    display: flex;
    align-items: center;
    width: 16%;
    height: 30px;
    margin: auto 0.5%;
}

.searchbox input{
    width: 80%;
}

.search-btn{
    width: 20%;
}

#searchicon{
    height: 30px;
    width: 25px;
    margin-left: 5px;
    cursor: pointer;
}

.hidesearch{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.showsearch{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#navbar .reacticons{
    height: 30px;
    width: 30px;
    color: var(--color-white);
    margin: 0 1%;
    cursor: pointer;
}

