.media-form{
    margin: 50px auto;
    width: 80%;
    font-size: 20px;
}

.media-btn{
    padding: 1% 2%;
    margin: auto 20px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
}

.media-btn:hover{
    background-color: var(--netflix-red);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    transition: all 0.2s ease-in-out;
}