* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: NetfilxSans, "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#root {
    min-height: 100vh;
}

h1 {
    font-size: 32px;
    margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

label,
.input-textarea {
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    width: 100%;
    height: 80px;
    margin-bottom: 25px;
    line-height: 2;
}


input,
textarea {
    width: 100%;
    height: 50px;
    font-size: 18px;
}

input[type='datetime-local'],
input[id='timelength'] {
    width: 100%;
}


.input-textarea {
    height: 150px;
}


textarea {
    height: 100px;
}

select {
    margin: 0 auto;
    font-size: 24px;
    height: 50px;
}

.eye-btn {
    margin-top: -7%;
    margin-left: 90%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.eye-btn svg {
    height: 25px;
    width: 25px;
}


@media screen and (max-width:699px) {

    label,
    .input-textarea {
        font-size: 14px;
        height: 60px;
        margin-bottom: 15px;
        line-height: 1;
    }


    input,
    textarea {
        margin-top: 5px;
        height: 40px;
        font-size: 14px;
    }

    .input-textarea {
        height: 100px;
    }


    textarea {
        height: 80px;
    }

    select {
        margin: 5px auto;
        font-size: 14px;
        width: 100%;
        height: 40px;
    }

    .eye-btn {
        margin-top: -10%;
        margin-left: 90%;
        height: 20px;
        width: 20px;
    }

    .eye-btn svg {
        height: 20px;
        width: 20px;
    }
}


@media screen and (min-width:300px) and (max-width:699px) and (min-height:700px) {

    label,
    .input-textarea {
        height: 80px;
    }


    input,
    textarea {
        margin-top: 10px;
    }


    .input-textarea {
        height: 140px;
    }


    textarea {
        height: 100px;
    }


    @media screen and (min-width:520px) {}
}

@media screen and (min-width:700px) and (max-width:1023px) {
    label,
    .input-textarea {
        font-size: 16px;
        height: 80px;
        margin-bottom: 25px;
        line-height: 1.5;
    }


    input,
    textarea {
        margin-top: 10px;
        font-size: 16px;
    }

    .input-textarea {
        height: 120px;
    }


    textarea {
        height: 100px;
    }

    select {
        margin: 5px auto;
        font-size: 16px;
        height: 50px;
    }

    .eye-btn {
        margin-top: -10%;
    }

    @media screen and (min-height:1024px) {}
}

@media screen and (min-width:1024px) and (max-height:800px) {

    label,
    .input-textarea {
        height: 60px;
        font-size: 16px;
    }


    input,
    textarea {
        margin-top: 5px;
        height: 40px;
        font-size: 16px;
    }

    .input-textarea {
        height: 120px;
    }


    textarea {
        height: 100px;
    }

    select {
        margin: 5px auto;
        font-size: 16px;
        height: 40px;
    }

    .eye-btn {
        margin-top: -7%;
        height: 15px;
        width: 15px;
    }

    .eye-btn svg {
        height: 15px;
        width: 15px;
    }
}