@import "./variable.css";
@import "./app.css";

@import "../pages/signin.css";
@import "../pages/signup.css";
@import "../pages/forgotpassword.css";

@import "../components/navbar.css";

@import "../pages/displaypage.css";
@import "../components/displaycard.css";
@import "../pages/contentmanager.css";
@import "../pages/category.css";
@import "../pages/season.css";
@import "../pages/episode.css";

@import "../components/modaladdform.css";

@import "../components/modal.css";
@import "../components/deletecategory.css";
@import "../components/uploadmedia.css";
@import "../components/updatecategory.css";