#displaypage{
    min-height: 100vh;
    position: relative;
}

#banner{
    position: relative;
    min-height: 80vh;
    width: 100%;
}

#banner img{
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100%;
}

.BannerContent {
    position: absolute;
    text-align: justify;
    width: 40vw;
    bottom: 10vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap:50px;
    left: 50px;
}

.BannerContent span{
    font-size: 60px;
    font-weight: 800;
    color: var(--netflix-red);
}

.BannerContent p{
    font-size: 28px;
    font-weight: 400;
}

.Banner-btn{
    display: flex;
    gap: 50px;
}
.play-btn, .info-btn{
    min-width:20%;
    display: inline;
    padding: 2% 3%;
    font-size: 24px;
    z-index: 2;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.play-btn:hover, .info-btn:hover{
    opacity: 0.75;
}

.info-btn{
    background-color: var(--color-gray);
    color: var(--color-white);
    border: none;
    font-weight: 600;
}