#forgotpassword{
    /* background-color: var(--color-white); */
    min-height: 100vh;
    width: 100%;
}

#forgotpassword img{
    height:120px;
    width: 250px;
    margin:0;
    padding: 0;
}

#forgotpassword a{
    text-decoration: none;
}

.content{
    display: flex;
    flex-direction: column;
    gap:100px;
    align-items: center;
}

.header{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    margin: 30px 60px;
    font-size: 26px;
    font-weight: 600;
    color: var(--netflix-red);
}

.header a:hover:last-child{
    border-bottom: 1px solid var(--netflix-red);
}

#forgotpassword .box{
    width: 25vw;
    min-height: 40vh;
    background-color: rgba(255, 255, 255, 1);
    color: var(--color-black);
}

#forgotpassword .forgotpassword-container{
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    gap: 5px;
    width: 20vw;
    min-height: 20vh;
}

#forgotpassword .forgotpassword-container h1{
    text-align: center;
    margin: 0;
    font-size: 40px;
}

#forgotpassword .forgotpassword-container p{
    font-size: 26px;
    margin-top: 10px;
}

#forgotpassword label{
    width: 100%;
    height: 100px;
    
}

#forgotpassword input{
    height: 60px;
}


.forgotpassword-btn{
    margin-top: 30px;
    padding: 3%;
    font-size: 32px;
    width: 100%;
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

.forgotpassword-form{
    margin-top: 50px;
}
