#signup {
    background-color: var(--color-white);
    min-height: 100vh;
    width: 100%;
}

#signup img {
    height: 20%;
    width: 30%;
    margin: 0;
    padding: 0;
}

#signup a {
    text-decoration: none;
}


 .content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

 .header {
    width: 95%;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .header a {
    margin: 1% 5%;
    font-size: 200%;
    font-weight: 600;
}

.header a:hover:last-child {
    border-bottom: 1px solid var(--color-black);
}

#signup .signup-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    color: var(--color-black);
    gap: 5px;
    width: 25vw;
}

#signup .signup-container h1 {
    text-align: justify;
    margin: 0;
    font-size: 40px;
}

#signup .signup-container p {
    font-size: 26px;
}

.signup-btn {
    margin-top: 30px;
    padding: 3%;
    font-size: 24px;
    width: 100%;
    background-color: var(--netflix-red);
    color: var(--color-white);
    cursor: pointer;
}

.signup-form {
    margin-top: 5%;
    min-height: 20vh;
}



@media screen and (max-width:699px) {
    #signup .content {
        gap: 20px;
    }

    #signup .header {
        height: 100px;
    }

    #signup img {
        width: 100px;
    }

    #signup .header a {
        margin: 1% 5%;
        font-size: 120%;
    }

    #signup .signup-container {
        width: 80vw;
    }

    #signup .signup-container h1 {
        font-size: 24px;
    }

    #signup .signup-container p {
        font-size: 20px;
    }
    .signup-btn {
        font-size: 20px;
    }
}


@media screen and (min-width:300px) and (max-width:699px) and (min-height:700px) {
    #signup .signup-container {
        margin-top: 5vh;
        gap: 10px;
    }
    @media screen and (min-width:520px) {
    }
}

@media screen and (min-width:700px) and (max-width:1023px) {
    #signup .signup-container {
        width: 85vw;
        gap:5px;
    }
    #signup img {
        width: 100px;
    }
    .signup-btn {
        margin-top: 40px;
        font-size: 24px;
    }

    .signup-form {
        gap:5px;
        min-height: 15vh;
    }

    #signup .eye-btn{
        margin-top: -5%;
    }
    @media screen and (min-height:1024px) {
    }
}

@media screen and (min-width:1024px) and (max-height:800px) {
    #signup .content {
        gap: 5vh;
    }

    #signup .header {
        height: 90px;
    }

    #signup img {
        width: 100px;
    }

    #signup .header a {
        margin: 1% 5%;
        font-size: 120%;
    }

    #signup .signup-container {
        width: 40vw;
    }

    #signup .signup-container h1 {
        font-size: 24px;
    }

    #signup .signup-container p {
        font-size: 20px;
    }
    .signup-btn {
        font-size: 20px;
    }
} 