#signin {
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: var(--color-white);
}

#signin a {
    text-decoration: none;
    color: var(--color-white);
}

#signin img {
    position: absolute;
    height: 120px;
    width: 250px;
    margin: 30px 45px;
}


#signin .background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    margin: 0;
    z-index: -1;
}

.box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.box-content {
    margin: 60px 68px 40px;
}

.box-content h1 {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 45px;
}

#signin label {
    width: 100%;
    height: 100px;

}

#signin input {
    background-color: var(--selected-black);
    color: var(--color-white);
    height: 60px;
}

.eye-btn {
    margin-top: -50px;
    margin-left: 90%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.eye-btn svg{
    height: 30px;
    width: 30px;
}

.login-btn {
    margin-top: 30px;
    padding: 3%;
    font-size: 32px;
    width: 100%;
    background-color: var(--netflix-red);
    color: var(--color-white);
    cursor: pointer;
}

.box-link {
    margin-top: 100px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5)
}

.box-link p {
    font-size: 18px;
    padding-top: 10px;
}

.box-link a:hover,
.login-help a:hover {
    border-bottom: 1px solid var(--color-white);
}

#signin .login-help {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 25px;
    margin-top: 25px;
}

#signin .login-help input {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

#signin .login-help label,
.login-help a {
    height: 25px;
    width: fit-content;
    margin: 0;
    font-size: 18px;
    line-height: 1;
}

