#signin {
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: var(--color-white);
}

#signin a {
    text-decoration: none;
    color: var(--color-white);
}

#signin img {
    position: absolute;
    height: 5vh;
    width: 15vh;
    margin: 30px 45px;
}


#signin .background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    margin: 0;
    z-index: -1;
}

.box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 55vh;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.box-content {
    margin: 60px 68px 40px;
}

.box-content h1 {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5%;
}

#signin input {
    background-color: var(--selected-black);
    color: var(--color-white);
}

.login-btn {
    margin-top: 8%;
    padding: 4% 3%;
    font-size: 20px;
    width: 100%;
    background-color: var(--netflix-red);
    color: var(--color-white);
    cursor: pointer;
}

.box-link {
    margin-top: 10%;
    font-size: 150%;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5)
}

.box-link p {
    font-size: 75%;
    padding-top: 10px;
}

.box-link a:hover,
.login-help a:hover {
    border-bottom: 1px solid var(--color-white);
}

#signin .login-help {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 25px;
    margin-top: 25px;
}

#signin .login-help input {
    height: 50%;
    width: 15px;
    margin-right: 5px;
}

#signin .login-help label,
.login-help a {
    height: 25px;
    width: fit-content;
    margin: 0;
    font-size: 95%;
    line-height: 1;
}


@media screen and (max-width:699px) {
    #signin .background {
        visibility: hidden;
    }

    .box-container {
        width: 100vw;
        min-height: 40vh;
    }

    .box-content {
        margin: 30px 45px 40px;
    }

    .box-content h1 {
        font-size: 32px;
        padding-bottom: 10px;
    }

    .box-link {
        margin-top: 20%;
        font-size: 100%;
    }

    #signin .login-help input {
        height: 40%;
    }

    #signin .login-help label,
    .login-help a {
        font-size: 80%;
    }
}


@media screen and (min-width:300px) and (max-width:699px) and (min-height:700px) {

    .box-container {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    @media screen and (min-width:520px) {
        .box-container {
            margin-top: 25px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .eye-btn {
            margin-top: -7%;
        }
    }
}

@media screen and (min-width:700px) and (max-width:1023px) {
    .box-container {
        width: 70vw;
        min-height: 40vh;
    }

    @media screen and (min-height:1024px) {

        #signin .login-help label,
        .login-help a {
            font-size: 150%;
        }

        .box-link {
            font-size: 150%;
        }

        .box-link p {
            font-size: 90%;
        }

    }
}


@media screen and (min-width:1024px) and (max-height:800px) {
    .box-container {
        width: 40vw;
        min-height: 30vh;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -55%);
    }

    .box-content h1 {
        font-size: 32px;
    }

    .box-content {
        margin: 15px 45px;
    }
    .box-link {
        font-size: 100%;
    }

    .box-link p {
        font-size: 90%;
    }


} 